:root {
  --baseBG: #e4f0fb;
  --formBG: #2f3438;
  --formBorder: #976464;
  --btnBG: #39ff14;
}

body {
  background-color: var(--baseBG);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: auto;
  margin: auto;
}
h1 {
  font-size: 40px;
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 20px;
  background-color: var(--formBG);
  border: 5px solid var(--formBorder);
  border-radius: 10px;

  width: 350px;
  z-index: 10;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
input {
  outline: none;
  font-size: large;
  padding: 5px 10px;
  border-radius: 10px;
}
form button {
  background-color: var(--btnBG);
  padding: 5px 10px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/* grow button size on hover */
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.error {
  color: #ffffff;
  background-color: #ff0000;
  padding: 4px 10px;
  margin: 2px;
  border-radius: 8px;
  font-size: 18px;
}
.error:empty {
  display: none;
}
