:root {
  --navBG: #3c91f7;
  --navText: #233564;
  --mainBG: #e4e9f7;
  --mainText: #31241e;
  --popupOptionBG: #a9caf7;
  --bookmarkBtnBG: #26304a;
  --bookmarkBtnHoverBG: #3a4971;
}
.flexed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  width: 250px;
  margin: 0;
  padding: 0;
  background-color: var(--baseBG);
  color: var(--baseText);
  box-sizing: border-box;
}

nav {
  background-color: var(--navBG);
  padding: 1px;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
nav p {
  font-size: 26px;
  font-weight: bold;
  color: var(--navText);

  margin: 1px;
  padding: 5px;
  height: 30px;
}

main {
  font-size: 16px;
  color: var(--mainText);
  background-color: var(--mainBG);
  padding: 5px;
}

.popupOption {
  background-color: var(--popupOptionBG);
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  width: max-content;
}

#bookmarkBtn {
  margin: 5px;
  cursor: pointer;
  background-color: var(--bookmarkBtnBG);
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}
#bookmarkBtn:hover {
  background-color: var(--bookmarkBtnHoverBG);
  color: #d4dae9;
}
