:root {
  --navBG: #3c91f7;
  --navText: #ecedf1;
  --mainBG: #e4e9f7;
  --mainText: #31241e;
  --popupOptionBG: #a9caf7;
  --bookmarkBtnBG: #26304a;
  --bookmarkBtnHoverBG: #3a4971;
}
.flexed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  width: 250px;
  margin: 0;
  padding: 0;
  color: var(--baseText);
  box-sizing: border-box;

  /* from https://css-pattern.com/  */
  --s: 37px; /* control the size */

  --c: #0000, #2fb8ac 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) #ecbe13;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}

nav {
  background-color: var(--navBG);
  padding: 1px;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
nav p {
  font-size: 26px;
  font-weight: bold;
  color: var(--navText);

  margin: 1px;
  padding: 5px;
  height: 30px;
}

main {
  font-size: 16px;
  color: var(--mainText);
  /* background-color: var(--mainBG); */
  padding: 5px;
}

.popupOption {
  background-color: var(--popupOptionBG);
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  width: max-content;
}

#bookmarkBtn {
  margin: 5px;
  cursor: pointer;
  background-color: var(--bookmarkBtnBG);
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}
#bookmarkBtn:hover {
  background-color: var(--bookmarkBtnHoverBG);
  color: #d4dae9;
}
